body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #1a1b29;
  font-family: 'Roboto', sans-serif;
}

.monsterClass{
  height:400px;
  outline: none;
}

.monsterClass:active{
  transform: scale(1.05); 
}


.weaponClass{
  height:100px;
}

.main-flex-container{
  display:flex;
  flex-direction:column;
  margin: 0 auto;
  width:95%;
  text-align:center;
  background-color: #1a1b29; 
  color: #1a1b29;
  margin-top:10px;
}

.monster-display{
  width:100%;
  padding-top:15px;
  background: url("https://scentofagamer.files.wordpress.com/2015/02/mtgswamp_theros_stevenbelledin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size:1.4rem;
}

.right-section{
  width:100%;
  background-color: #1a1b29;
}

.shop-grid{
  
  display:grid;
  grid-template-columns: 20fr 20fr;
  align-content:center;
  grid-column-gap: 5px;
}

button{
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #22223b;
  background-color: #E1CDB3;
  cursor: pointer;
  outline:none;
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
}

button:active{
  transform: scale(0.99);
}



p{
  margin:0.7rem 0;
}

.first-stat{
  margin-top:5%;
}

.stat-box{
  background-color:rgba(225,205,179,0.7);
  width:100%;
  margin:0 auto;
  border-radius:10px;
  padding-top:2px;
  padding-bottom:2px;
}

.special-attack{
  width:100%;
  margin-top:5px;
}

button[disabled=disabled], button:disabled {
  background-color: rgba(225,205,179,0.5);
  cursor:default;
}



@media only screen and (min-width: 800px){
  .main-flex-container{
    flex-direction:row;
    width:90%;
    justify-content: space-between;
    margin-top:3vh;
  }

  .monsterClass{
    height:350px;
    margin-top: 7vh;
  }

  .monster-display{
    width:90%;
    height:80vh;
    margin-right:10px;
    border-radius:7px;
  }

  .right-section{
    width:70%;
    background-color: #D6BB97;
    border-radius:7px;
    padding: 0 40px;
    
  }

  .shop-grid{
    grid-column-gap: 10px;
    padding-top:30vh;
  }
  
  .stat-box{
    width:80%;
  }
}

@media only screen and (min-width: 1000px){

  .monster-display{
    width:90%;
    height:90vh;
  }

  .monsterClass{
    margin-top:9vh;
    height:400px;
  }
}

@media only screen and (min-width: 1200px){

  .monster-display{
    height: 90vh;
    border: solid 5px #E1CDB3;
  }

  .monsterClass{
    margin-top:7vh;
    padding-bottom:2%;
    height:400px;
  }

  .main-flex-container{
    margin-top:4vh;
    width:80%;
  }


  .stat-box{
    width:50%;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
  }
}

@media only screen and (min-width: 1400px){
  .monsterClass{
    height:500px;
    margin-top:10vh;
  }

}

@media only screen and (min-width:2000px){
  .monsterClass{
    height:600px;
    margin-top:13vh;
  }

}